rich
flask
PyYAML

# Manifest:
# request, decrypt, parse, export
requests
cryptography
protobuf
pandas

# Object/Media plugins for
# .unity3d, image, audio
UnityPy<=1.10.18
pillow
pydub
idna>=3.15 # not directly required, pinned by Snyk to avoid a vulnerability
